<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" media="screen" href="stylesheets/bootstrap.css">
    <link rel="stylesheet" media="screen" href="stylesheets/typeahead.js-bootstrap.css">
    <script src="javascripts/jquery-1.10.1.min.js" type="text/javascript"></script>
    <script src="javascripts/typeahead.min.js" type="text/javascript"></script>
  </head>
  <body>
       <h1>ratePlansExpress now serving one page!!</h1>



  </body>
</html>